{% extends "download/download_base.html" %}

{% block title %}Dingo &rsaquo;&rsaquo; Dingo {{ archive_detail.major }}.{{ archive_detail.minor }}.{{ archive_detail.micro }}{% endblock %}

{% block libs %}
  <link rel="stylesheet" type="text/css" href="/static/css/download_archives_detail.css" />
{% endblock %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="/static/css/download_base.css" />

    <script type="text/javascript" src="/static/jquery/download_base.js"></script>
    {% if archive_detail %}
    <style type="text/css">
      #subpage-{% if archive_detail %}{{ archive_detail.major }}-{{ archive_detail.minor }}-{{ archive_detail.micro }}{% endif %} {
        color: brown;
      }
    </style>{% endif %}
{% endblock %}

{% block sidebar %}
  <div id="sidebar">
    <ul class="list-links">
      {% for archive in archives_list %}
      <li><a href="/download/archives/{{ archive.major }}.{{ archive.minor }}.{{ archive.micro }}" class="doc-link" id="subpage-{{ archive.major }}-{{ archive.minor }}-{{ archive.micro }}">Dingo {{ archive.major }}.{{ archive.minor }}.{{ archive.micro }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block content %}
  <div id="content">
    {# Dingo major.minor.micro #}
    <h3 class="sub-header" id="version">
      Dingo {{ archive_detail.major }}.{{ archive_detail.minor }}.{{ archive_detail.micro }}
    </h3>
  
    <ul class="text-content" style="padding-top:35px; margin-bottom:20px; list-style-type:circle; padding:0; margin-left:0;">
      <li class="text-content"><span style="font-weight:400;">Release Date:</span> {{ archive_release_date }}</li>
      <li class="text-content"><span style="font-weight:400;">Source Tarball:</span> <a href="https://sourceforge.net/projects/dingomm/files/{{ archive_detail.major }}.{{ archive_detail.minor }}.{{ archive_detail.micro }}/dingo-{{ archive_detail.major }}.{{ archive_detail.minor }}.{{ archive_detail.micro }}.tar.gz/download" target="_blank" class="doc-link">dingo-{{ archive_detail.major }}.{{ archive_detail.minor }}.{{ archive_detail.micro }}.tar.gz</a></li>
      <li class="text-content"><span style="font-weight:400;">Release Information:</span> <a href="#" target="_blank" class="doc-link">NEWS</a></li>
    </ul>
    
    <a class="slides_download-button" href="/download/" style=" margin-left:0px;">Get Dingo!</a>
    
    <div class="text-content" style="margin-top:20px;">
      {{ archive_detail.capture|safe }}
    </div>
    
    {% if archive_detail.total_bug_fixes %}
    {# Notable Bug Fixes #}
    <h3 class="sub-header" id="notable-bug-fixes">
      Notable Bug Fixes ({{ archive_detail.total_bug_fixes }} fixed since {% ifnotequal archive_detail.micro 0 %}{{ archive_detail.major }}.{{ archive_detail.minor }}.{{ archive_detail.micro|add:"-1" }}{% else %}{{ archive_detail.major }}.{{ archive_detail.minor|add:"-1" }}.{{ archive_detail.micro }}{% endifnotequal %})
    </h3>
  
    {{ archive_detail.notable_bug_fixes|safe }}
    {% endif %}
    
    {% if archive_detail.new_features %}
    {# New Features #}
    <h3 class="sub-header" id="new-features">
      New Features
    </h3>
    
    {{ archive_detail.new_features|safe }}
        
    {% if archive_detail.other_enhancements %}
    {# Other Enhancements #}
    <h3 class="sub-header" id="other-enhancements" style="display:block;">
      Other Enhancements
    </h3>
  
    {{ archive_detail.other_enhancements|safe }}
    {% endif %}
    {% endif %}
    
    {# Dependencies #}
    <h3 class="sub-header" id="dependencies" style="display:block;">
      Dependencies
    </h3>
    
    {{ archive_detail.dependencies|safe }}
    
    {# Contributors #}
    <h3 class="sub-header" id="contributors" style="display:block;">
      Contributors
    </h3>
    
    <p class="text-content" style="font-weight:400;">
      Contributors of This Release
    </p>
    <br />
      
    {% if archive_detail.developers %}
    <p class="text-content">
      The following people contributed either directly through source code or through emails answering questions of the author. Without them there would be no release!
    </p>
    <br />
    
    <div class="indentation">
      {{ archive_detail.developers|safe }}
    </div>
    <br />
    {% endif %}
    
    {% if archive_detail.translators %}
    <p class="text-content">
      The following people contributed updated translations to this release. Without them, our project's reach would be much more limited!
    </p>
    <br />
    
    <div class="indentation">
      {{ archive_detail.translators|safe }}
    </div>
    <br />
    {% endif %}
    
    {% if archive_detail.designers %}
    <p class="text-content">
      The following people contributed to the project through designing icons/images/logos for the project. Without them, our project would look terrible!
    </p>
    <br />
    
    <div class="indentation">
      {{ archive_detail.designers|safe }}
    </div>
    {% endif %}
    
    {% if archive_detail.get_prev_contributors %}
    <br />
    <br />
    
    {# Contributors of Previous Releases #}
    <p class="text-content" style="font-weight:400;">
      Contributors of Previous Releases
    </p>
    <br />
    
    <div class="indentation">
      {{ archive_detail.get_prev_contributors|safe }}
    </div>
    {% endif %}
  </div>
{% endblock %}
