{% extends "download/download_base.html" %}

{% block title %}Dingo &rsaquo;&rsaquo; Download{% endblock %}

{% block libs %}
    <link rel="stylesheet" type="text/css" href="/static/css/download.css" />
  
    <link rel="stylesheet" type="text/css" href="/static/css/code_base.css" />
    
    <link rel="stylesheet" type="text/css" href="/static/css/latest_base.css" />
  
    <script type="text/javascript" src="/static/jquery/distro_detect.js"></script>
  
    <script type="text/javascript" src="/static/jquery/download.js"></script>
{% endblock %}

{% block content %}
  <div id="content">
    <p id="latest-version">
      Latest Stable Version: 0.5.1 - January 28, 2013
    </p>
  
    {# Select Your Operating System #}
    <h3 class="sub-header" id="select-os">
      1. Select Your Operating System
    </h3>
  
    <div class="download-button" id="distro-ubuntu">
      <img src="/static/images/download/ubuntu.png" />
      <h4 class="text-content" style="font-weight:400;">Ubuntu</h4>
    </div>
  
    <div class="download-button" id="distro-fedora">
      <img src="/static/images/download/fedora.png" />
      <h4 class="text-content" style="font-weight:400;">Fedora</h4>
    </div>
  
    <div class="download-button" id="distro-others">
      <img src="/static/images/download/linux.png" />
      <h4 class="text-content" style="font-weight:400;">Others</h4>
    </div>
    
    <div class="distro-details" id="install-ubuntu">
      {# Install on Ubuntu #}
      <h3 class="sub-header" id="install-on-ubuntu">
        2. Install on Ubuntu
      </h3>
      
      <img src="/static/images/download/download-on-ubuntu.png" />
      
      <br />
      <br />
      
      <p class="text-content">
        Dingo is available on both the <a href="#" target="_blank" class="doc-link">Ubuntu Software Center</a> and <a href="https://launchpad.net/dingo" target="_blank" class="doc-link">Launchpad</a>. If you prefer <a href="https://launchpad.net/dingo" target="_blank" class="doc-link">Launchpad</a> then just open a terminal and use the following commands to add <a href="https://launchpad.net/~dingo-team/+archive/dingo-stable" target="_blank" class="doc-link">the official Dingo Team PPA</a> (which contains the latest stable release):
      </p>
    
      <pre class="code-snippet" style="height:75px;">
      $ sudo add-apt-repository ppa:dingo-team/dingo-stable
      $ sudo apt-get update
      $ sudo apt-get install dingo
      </pre>
    </div>
  
    <div class="distro-details" id="install-fedora">
      {# Install on Fedora #}
      <h3 class="sub-header" id="install-on-fedora">
        2. Install on Fedora
      </h3>
  
      <p class="text-content">
        On <a href="http://fedoraproject.org/" target="_blank" class="doc-link">Fedora</a> Dingo can be installed via <span class="text-content-code">yum</span>. Just open your terminal and input the following commands:
      </p>
    
      <pre class="code-snippet" style="height:35px;">
      $ yum install dingo
      </pre>
    </div>
  
    <div class="distro-details" id="install-others">
      {# Install on Other Distros #}
      <h3 class="sub-header" id="install-on-others">
        2. Install on Other Distros
      </h3>
  
      <p class="text-content">
        Dingo binary is currently only available on <a href="http://fedoraproject.org/" target="_blank" class="doc-link">Fedora</a> and <a href="http://www.ubuntu.com/" target="_blank" class="doc-link">Ubuntu</a>-based systems. To install Dingo for other systems please following these steps:
      </p>
      
      <ol class="text-content">
        <li class="text-content">Make sure you have installed <a href="/help/faq/#installation-2" target="_blank" class="doc-link">all the necessary dependencies</a></li>
        <li class="text-content">Download <a href="https://sourceforge.net/projects/dingomm/" target="_blank" class="doc-link">the latest stable Dingo source release</a> (see the section below)</li>
        <li class="text-content">Extract the downloaded <span class="text-content-code">.tar.gz</span> file</li>
        <li class="text-content"><span class="text-content-code">cd</span> into the project's directory and type the following commands:</li>
      </ol>
    
      <pre class="code-snippet" style="height:95px;">
      $ cd /path/to/dingo/directory
      $ ./configure
      $ make
      $ make install
      </pre>
    </div>
    
    <br />
    
    {# Source Releases #}
    <h3 class="sub-header" id="source-releases">
      Source Releases
    </h3>
      
    <ul class="text-content" style="list-style-type:circle; padding:0; margin:0;">
      <li class="text-content">The latest stable release of Dingo is version 0.5.1 released on January 31, 2013</li>
      <li><a href="https://sourceforge.net/projects/dingomm/" target="_blank" class="doc-link">Download Source Tarball</a></li>
    </ul>
    
    {# Beta Releases #}
    <h3 class="sub-header" id="beta-releases">
      Beta Releases
    </h3>
  
    <ul class="text-content" style="list-style-type:circle; padding:0; margin:0;">
      <li><a href="#" target="_blank" class="doc-link">Ubuntu</a></li>
    </ul>
    
    {# Development Version #}
    <h3 class="sub-header" id="development-version">
      Development Version
    </h3>
  
    <p class="text-content">
      Learn more about <a href="/download/development" class="doc-link">getting the development version</a>.
    </p>
  </div>
{% endblock %}
