html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address,
variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

ol {
  margin-left: 1.4em;
  list-style: decimal;
}

ul {
  margin-left: 1.4em;
}

img {
  border: 0;
}

body {
  /* 
   * blank for now
   * because we use #main-body
   * instead (for compability 
   * with fancyBox 
   */
}

#main-body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #505050;
  text-align: center;
  display: block;
}

/* Navigation bar */
#nav-bar-div {
  float: right;
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding-left: 15px;
  height: 60px;
  background-color: #407023;
  width: 985px;
  margin-bottom: 10px;
  -moz-box-shadow: 1px 1px 3px 3px #ccc;
  -webkit-box-shadow: 1px 1px 3px 3px #ccc;
  box-shadow: 1px 1px 3px 3px #ccc;
}

.nav-button {
  display: inline;
  line-height: 60px;
  float: left;
  vertical-align: middle;
}

.nav-link:link {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  text-shadow: 0px 1px black;
  display: inline-block;
}

.nav-link:hover {
  background-color: #558a35;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  text-shadow: 0px 1px black;
  display: inline-block;
}

.nav-link:visited {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  text-shadow: 0px 1px black;
  display: inline-block;
}

#large-logo {
  vertical-align: middle;
  margin-right: 20px;
  float: right;
  padding-top: 7px;
  cursor: pointer;
}

/* Author homepage */
#author-homepage-div {
  line-height: 25px;
  float: right;
  font-size: 12px;
  padding-right: 20px;
}

#author-homepage-link {
  text-decoration: none;
  color: black;
}

#author-homepage-text {
  vertical-align: top;
  padding-left: 5px;
}

/* Footer */
#footer-row {
  width: 985px;
  margin-top: 30px;
  text-align: center;
}

#footer-row a:link, #footer-row a:visited {
  text-decoration: none;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #505050;
}

#footer-row a:hover {
  text-decoration: underline;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: brown;
}

#footer-row a.footer-heading {
  color: #407023;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  padding-bottom: 2px;
  width: 100px;
  display: block;
}

.footer-nav {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  text-align: left;
  padding-top: 25px;
}

#footer-nav-logo {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  text-align: left;
  padding-top: 15px;
  margin-right: 10px;
}

#small-logo {
  display: block;
  padding-bottom: 5px;
}

#powered-by {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #407023;
  width: 150px;
  display: block;
  line-height: 18px;
}

/* Copyright notice */
#copyright-notice {
  padding-top: 35px;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #505050;
  padding-bottom: 10px;
}
