.code-snippet {
  font-family: 'Ubuntu Mono', sans-serif;
  font-weight: 400;
  font-size: 16px; 
  line-height: 20px; 
  margin-top: 5px; 
  padding-top: 10px; 
  background-color: #272727; 
  color: white; 
  margin-bottom: 15px; 
  border-color: #dddddd; 
  border-style: solid;
}

.text-content-code {
  font-family: 'Ubuntu Mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
