#latest-version {
  font-weight: 400;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 10px;
  background-color: #ffffcc;
  border-color: #ffcc00;
  border-width: 1px;
  border-style: solid;
  margin-bottom: -10px;
  margin-top: 15px;
}
