@font-face {
  font-family: UbuntuMonoRegular;
  src: url("http://127.0.0.1:8000/static/type/UbuntuMono-R.ttf");
}

.libs-table {
  margin-left: 15px;
  font-size: 16px;
  font-family: UbuntuMonoRegular;
}

.lib-name {
  width: 400px;
}

.lib-sign {
  width: 50px;
}

.lib-version {
  width: 100px;
}
