{% extends "about/about_base.html" %}

{% block title %}Dingo &rsaquo;&rsaquo; Contact{% endblock %}

{% block libs %}{% endblock %}

{% block content %}
  <div id="content">
    {# Contact #}
    <h3 class="sub-header">
      Contact
    </h3>
  
    <p class="text-content">
      Like many other open-source project, you can communicate with the Dingo community through either our <a href="#" target="_blank" class="doc-link">mailing-list</a> or our <a href="irc://irc.gnome.org/#dingo" target="_blank" class="doc-link">IRC chatroom</a>. If you find a bug please do not hesitate to report it to <a href="http://127.0.0.1:8000/contribute/report-bugs" target="_blank" class="doc-link">our bugs tracker</a>.
    </p>
  
    {# Mailing List #}
    <h3 class="sub-header">
      Mailing List
    </h3>
  
    <p class="text-content">
      We use a <a href="#" target="_blank" class="doc-link">mailing list</a> to discuss with each other about Dingo, report bugs, get help and advices from community members, etc.
    </p>
    
    <br />
    
    <p class="text-content">
      <strong>Subscribe to dingo-list:</strong>
      <br />
      <input type="text" style="width:275px;" name="email" value="your_email@address.com" onclick="this.select();" class="text-content" />
      <input type="submit" name="email-button" value="Subscribe" />
    </p>
    
    <br />
    
    <p class="text-content">
      You can view the mailing-list archives <a href="#" target="_blank" class="doc-link">here</a>
    </p>
  
    {# Chat #}
    <h3 class="sub-header">
      Chat
    </h3>
  
    <p class="text-content">
      You can join our real-time discussion about Dingo through our IRC chat room, which is <a href="irc://irc.gnome.org/#dingo" class="doc-link">#dingo</a> on <strong><i>irc.gnome.org</i></strong>. If you have any question please ask straight away, and if anybody is available they will answer. The chatroom can be accessed by any IRC chat client (we however recommend <a href="http://www.pidgin.im/" target="_blank" class="doc-link">Pidgin</a> and <a href="http://xchat.org/" target="_blank" class="doc-link">XChat</a>).
    </p>
    
    {# Hirings #}
    <h3 class="sub-header" id="hirings">
      Hirings
    </h3>
  
    <p class="text-content">
      Interested in interviewing a Dingo maintainer or hiring them for your next software projects? <a href="https://github.com/phongvcao/dingo/blob/master/AUTHORS" target="_blank" class="doc-link">Contact us</a>. 
    </p>
  </div>
{% endblock %}
