{% extends "about/about_base.html" %}

{% block title %}Dingo &rsaquo;&rsaquo; Features{% endblock %}

{% block libs %}
  <link rel="stylesheet" type="text/css" href="/static/css/about_features.css" />
{% endblock %}

{% block content %}
  <div id="content">  
    {# Organize #}
    <h3 class="sub-header" id="history">
      Organize
    </h3>
    
    <dl class="features">
      <dt class="features-name"><img src="/static/images/about/features/features-home.png" alt="" />Home</dt>
      <dd class="features-definition">Control and view information of all tracks through a simple yet easy-to-use interface</dd>
      
      <dt class="features-name"><img src="/static/images/about/features/features-playlists.png" alt="" />Playlists</dt>
      <dd class="features-definition">Divide your tracks into playlists using our checkboxes-based tracks-playlists manager</dd>
      
      <dt class="features-name"><img src="/static/images/about/features/features-play-queue.png" alt="" />Play Queue</dt>
      <dd class="features-definition">Queue tracks and let Dingo automatically play them for you</dd>
      
      <dt class="features-name"><img src="/static/images/about/features/features-shuffle.png" alt="" />Shuffle</dt>
      <dd class="features-definition">Get rid of boredom by letting Dingo play your songs randomly</dd>
    </dl>
    
    {# Filters #}
    <h3 class="sub-header" id="history">
      Filters
    </h3>
    
    <dl class="features">
      <dt class="features-name"><img src="/static/images/about/features/features-search.png" alt="" />Search</dt>
      <dd class="features-definition">Search the whole database, the whole playlist or just a view to find what you want</dd>
      
      <dt class="features-name"><img src="/static/images/about/features/features-audio-only.png" alt="" />Audio Only</dt>
      <dd class="features-definition">Show and play only audios</dd>
      
      <dt class="features-name"><img src="/static/images/about/features/features-video-only.png" alt="" />Video Only</dt>
      <dd class="features-definition">Show and play only videos</dd>
    </dl>
    
    {# Playback #}
    <h3 class="sub-header" id="history">
      Playback
    </h3>
    
    <dl class="features">
      <dt class="features-name"><img src="/static/images/about/features/features-music.png" alt="" />Music</dt>
      <dd class="features-definition">Dingo is able to recognize, import and play many different audio formats (mp3, aac, ogg, etc...) thanks to its GStreamer-based engine.</dd>
      
      <dt class="features-name"><img src="/static/images/about/features/features-videos.png" alt="" />Videos</dt>
      <dd class="features-definition">Dingo is able to recognize, import and play many different video formats (avi, mpeg, mkv, etc...) thanks to its GStreamer-based engine.</dd>
      
      <dt class="features-name"><img src="/static/images/about/features/features-fullscreen.png" alt="" />Fullscreen</dt>
      <dd class="features-definition">Expand your videos to fullscreen to maximize your experience.</dd>
      
      <dt class="features-name"><img src="/static/images/about/features/features-subtitle.png" alt="" />Subtitle</dt>
      <dd class="features-definition">Improve your movie-watching experience using our subtitle engine: import subtitle, autosave subtitle and choose its format</dd>
      
      <dt class="features-name"><img src="/static/images/about/features/features-repeat-modes.png" alt="" />Repeat Modes</dt>
      <dd class="features-definition">Dingo has four repeat modes that can suit all of your needs: Repeat Off, Repeat Playlist, Repeat Single, Repeat Section (our special and unique one!).</dd>
      
      <dt class="features-name"><img src="/static/images/about/features/features-lyrics.png" alt="" />Edit Lyrics</dt>
      <dd class="features-definition">Dingo supports fetching and saving lyrics to files. You will no longer have to open your browser for lyrics-lookup while listening to your favorite pieces.</dd>
    </dl>
    
    {# Export #}
    <h3 class="sub-header" id="history">
      Export
    </h3>
    
    <dl class="features">
      <dt class="features-name"><img src="/static/images/about/features/features-export-settings.png" alt="" />Export Settings</dt>
      <dd class="features-definition">Dingo's settings are exportable, which makes it easier for you to backup and restore your preferred configurations.</dd>
      
      <dt class="features-name"><img src="/static/images/about/features/features-export-playlists.png" alt="" />Export Playlists</dt>
      <dd class="features-definition">Playlists can also be exported, and importing them is faster than importing the media files again.</dd>
    </dl>
    
    {# For Developers #}
    <h3 class="sub-header" id="history">
      For Developers
    </h3>
    
    <dl class="features">
      <dt class="features-name"><img src="/static/images/about/features/features-mpris-v2.png" alt="" />MPRIS v2.0 D-Bus Interface</dt>
      <dd class="features-definition" style="margin-bottom:-10px;">Control Dingo using the MPRIS D-Bus interface</dd>
    </dl>
  </div>
{% endblock %}
