{% extends "contribute/contribute_base.html" %}

{% block title %}Dingo &rsaquo;&rsaquo; Contribute{% endblock %}

{% block libs %}{% endblock %}

{% block content %}
  <div id="content">
    <p class="text-content" style="padding-top:35px; margin-bottom:-10px;">
      Dingo is <a href="http://www.gnu.org/philosophy/free-sw.html" target="_blank" class="doc-link">free and open-source</a> just like many other Linux software, and you are more than welcome to help us make it better regardless of how geeky you are: <a href="#write-code" class="doc-link">developers</a>, <a href="#design-icons" class="doc-link">designers</a>, <a href="#translate" class="doc-link">translators</a>, <a href="#report-bugs" class="doc-link">normal users</a>, etc. all-in!
    </p>
  
    {# Report Bugs #}
    <h3 class="sub-header" id="report-bugs">
      Report Bugs
    </h3>
  
    <p class="text-content">
      If you find bugs in Dingo just report to us using <a href="https://github.com/phongvcao/dingo/issues?labels=&page=1&state=open" target="_blank" class="doc-link">our Github bugs tracker</a>. However, before filing the bugs please check <a href="https://github.com/phongvcao/dingo/issues?labels=duplicate&state=open" target="_blank" class="doc-link">the bugs list</a> to see if there is any duplicate since the problem might have already been resolved. <a href="/contribute/report-bugs" class="doc-link">More about filing bugs</a>.
    </p>
    
    <br />
    
    <p class="text-content">
      Suggestions for new features and enhancement requests should be sent to <a href="http://dingo-project.org/mailman/listinfo/dingo-list_dingo-project.org" target="_blank" class="doc-link">our mailing-list</a>. Please <a href="http://dingo-project.org/pipermail/dingo-list_dingo-project.org/" target="_blank" class="doc-link">check our mailing list archives</a> for duplicates before filing one.
    </p>
  
    {# Translate Dingo #}
    <h3 class="sub-header" id="translate">
      Translate Dingo
    </h3>
  
    <p class="text-content">
      Dingo is shipped supporting two languages by default: English and Vietnamese. However, there are dozens of languages out there that have not been integrated into Dingo. Just by translating some text you can help increase Dingo's popularity. <a href="/contribute/translate" class="doc-link">Learn more about translating</a>.
    </p>
  
    {# Design Icons #}
    <h3 class="sub-header" id="design-icons">
      Design Icons
    </h3>
    
    <p class="text-content">
      User interface is an important part of a software, and nice-looking icons are necessary in constructing friendly user interface. Dingo was created using mainly the default system icons plus other software's artworks, which was really not enough. That's why we need you, designers! <a href="/contribute/design-icons" class="doc-link">Learn more about designing icons</a>.
    </p>
    
    {# Write Code #}
    <h3 class="sub-header" id="write-code">
      Write Code
    </h3>
  
    <p class="text-content">
      We welcome everybody to join our development process, regardless your programming level. The author of Dingo was only a college student when he set things up and it is likely that you are better than him. <a href="/contribute/write-code" class="doc-link">Learn more about writing code for Dingo</a>.
    </p>
  </div>
{% endblock %}
