{% extends "contribute/contribute_base.html" %}

{% block title %}Dingo &rsaquo;&rsaquo; Report Bugs{% endblock %}

{% block libs %}{% endblock %}

{% block content %}
  <div id="content">
    {# Report Bugs #}
    <h3 class="sub-header" id="report-bugs">
      Report Bugs
    </h3>
  
    <p class="text-content" style="margin-bottom:0px;">
      For easy integration with the development process, Dingo uses <a href="https://github.com/phongvcao/dingo/issues" target="_blank" class="doc-link">the default Github issues tracker</a> for bug reports. The tracker is very intuitive and easy to use. <a href="https://github.com/blog/411-github-issue-tracker" target="_blank" class="doc-link">Learn more about how to use Github issues tracker</a>.
    </p>      
    
    <br />
    
    <p class="text-content">
      Before filing a bug, please go visit <a href="https://github.com/phongvcao/dingo/issues?labels=duplicate&page=1&state=open" target="_blank" class="doc-link">our list of recent duplicates</a>.
    </p>      
    
    <br /> 
    
    <p class="text-content">
      We recommend you to take a look at our wiki article on Github on <a href="https://github.com/phongvcao/dingo/wiki/How-to-write-a-good-bug-report" target="_blank" class="doc-link">How to write a good bugs report</a>.
    </p>      
    
    <br />
    
    <p class="text-content">
      When you're ready, <a href="https://github.com/phongvcao/dingo/issues" target="_blank" class="doc-link">file your bug report</a>.
    </p>      
    
    <br />
    
    <p class="text-content">
      If your bug involves <strong>unexpected behaviors or an interface error</strong> please <strong>attach a screenshots</strong> with <strong>some notes explaining what happened</strong>.
    </p>
    
    <br />
      
    <p class="text-content">
      Please DO NOT send bug reports to the maintainers' emails or <a href="http://dingo-project.org/mailman/listinfo/dingo-list_dingo-project.org" class="doc-link" target="_blank">the mailing-list</a>. Only the bugs that are properly entered into <a href="https://github.com/phongvcao/dingo/issues" target="_blank" class="doc-link">our Github issues tracker</a> are fixed.
    </p>
  </div>
{% endblock %}
