{% extends "base.html" %}

{% block static %}
  <link rel="stylesheet" type="text/css" href="/static/css/contribute_base.css" />

  <script type="text/javascript" src="/static/jquery/contribute_base.js"></script>
  
  {% if subpage %}
  <style type="text/css">
    #subpage-{% if subpage %}{{ subpage }}{% endif %} {
      color: brown;
    }
  </style>
  {% endif %}
{% endblock %}

{% block sidebar %}
  <div id="sidebar">
    <ul class="list-links">
      <li><a href="/contribute/report-bugs" class="doc-link" id="subpage-report-bugs">Report Bugs</a></li>
      <li><a href="/contribute/translate" class="doc-link" id="subpage-translate">Translate Dingo</a></li>
      <li><a href="/contribute/design-icons" class="doc-link" id="subpage-design-icons">Design Icons</a></li>
      <li><a href="/contribute/write-code" class="doc-link" id="subpage-write-code">Write Code</a></li>
    </ul>
  </div>
{% endblock %}
